<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body>
    <div class="input-group mb-3">
  <div class="input-group-prepend">

  </div>
        <span class="input-group-text" id="basic-addon1">输入</span>
        <form action=" " method="post">
  <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1" name="quest">

    <input type="submit" placeholder="发送" name="submit'">
            </form>
</div>
<div class="card">
  <div class="card-body">
    {{answers,Restr}}
  </div>
    <script>
        $(function(0){
        $('div').hide();})
    </script>
</div>
</body>
</html>